.menu {
    padding: 15px 15px;
    background-color: #031722dc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo h1 {
    font-size: 2.5rem;
    color: #f1f1f1e5;
    font-family: "Playwrite DK Loopet", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding: 0 20px;
}

.menu-link ul {
    display: flex;
    gap: 30%;
    list-style: none;

}

.menu-link li a {
    text-decoration: none;
    color: #eaebee;
    font-size: 1.5rem;
    cursor: pointer;
}

.menu-link a:hover {
    border-bottom: #c4b891 4px solid;
}

.social-media {
    display: flex;
    gap: 30%
}